torch
torchvision
torchaudio
onnxruntime
# Other Python dependencies
fastapi
starlette
uvicorn
redis
fakeredis
opencv-python-headless
ultralytics
deep-sort-realtime
loguru
jinja2
openpyxl
websockets
python-multipart
imagehash
Pillow
qrcode[pil]
passlib
pytest
setuptools<81
psutil
numpy<2
authlib
weasyprint
httpx
email-validator
itsdangerous
pydantic-settings
fastapi-csrf-protect
ffmpeg-python
beautifulsoup4
pydantic
keyring
PyYAML
